{% extends 'base.html' %}


{% block title %}
  Home
{% endblock title %}
{% block body %}
<div class="container my-3">
  <h2>Add a Todo</h2>
  <form action="/" method="POST">
    <div class="mb-3">
      <label for="titew" class="form-label">Todo Title</label>
      <input
        type="text"
        class="form-control"
        name="title"
        id="title"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Todo Description</label>
      <input type="text" class="form-control" id="desc" name="desc" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<div class="container my-3">
  <h2>Your Todos</h2>

  {% if alltodo|length==0 %}
  <div class="alert alert-danger" role="alert">
    To Todos Found add your First Todo now you Dickhead
  </div>
  {% else %}
  <table class="table">
    <tbody>
      <thead>
        <tr>
          <th scope="col">S.No</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">DateTime</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      {% for todo in alltodo%}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{todo.title}}</td>
        <td>{{todo.desc}}</td>
        <td>{{todo.date_created}}</td>
        <td>
          <a href="/update/{{todo.sno}}">
            <button
              type="button"
              class="btn btn-outline-primary btn-sm mx-1"
            >
              Update
            </button>
          </a>
          <a href="/delete/{{todo.sno}}">
            <button
              type="button"
              class="btn btn-outline-primary btn-sm mx-1"
            >
              Delete
            </button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  {% endfor %} 
  {% endif %}
</div>
{% endblock body %}
